# Node build artifacts
/node_modules
npm-debug.log
yarn.lock
yarn-error.log
package-lock.json

# Local development
.env
/src/.env
.dev
.DS_Store
.vscode/
src/bkp_index.js

# Docker
Dockerfile
docker-compose.yml
