# Node build artifacts
/node_modules
npm-debug.log
yarn.lock
yarn-error.log
package-lock.json
bkp*

# Local development
.env
.dev
.DS_Store
src/bkp_index.js

# Docker
Dockerfile
docker-compose.yml

# Files Management
hist*
audit.txt
