# Node build artifacts
/node_modules
npm-debug.log
yarn.lock
package-lock.json
bkp_package.json
audit.txt

# Local development
.env
.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# Files Management
histórico.txt
