.new-plan-page {
    form {
        .textfield {
            width: 100%;
            margin-bottom: 20px;
        }

        .submit {
            width: 100%;
            margin: 10px 0;
        }
    }
}
